@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    /* overflow-x: hidden; */
    font-family: 'Poppins', sans-serif;
}

a{
    display: inline-block;
    text-decoration: none;
}

img{
    display: inline-block;
}
label{
    display: inline-block;
}
input{
    box-sizing: border-box;
    display: block;
}

.mb{
    margin-bottom: 6px;
}

.wrap-container{
    padding: 12px;
}

.wrap-aspect-ratio{
    padding: 0px 5px;
}

.aspect-ratio-title{
    text-align: center;
    padding: 0px 10px 20px 10px;
    font-size: 30px;
    font-weight: 500;
}

.form-title{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 5px;
    display: inline-block;
}

input[type="text"]{
    width: 100%;
    height: 40px;
    outline: none;
    font-size: 15px;
    border-radius: 8px;
    border: 1px solid black;
    padding: 10px 15px;
    margin-bottom: 2px;
}

.invalid-feedback{
    color: red;
    padding: 0px 3px;
    display: none;
}

.wrap-result{
    width: 100%;
    color: black;
    font-weight: 700;
    margin-top: 15px;
}
.result{
    color: rgb(12, 0, 242);
    padding-left: 15px;
}
.article{
    margin-bottom: 15px;
}
.article .question{
    margin-bottom: 5px;
    font-weight: 500;
}
.article .answer{
    font-size: 300
}

.desc{
    margin-bottom: 18px;
}
.formula{
    text-align: center;
    margin-bottom: 10px;
}
.example{
    margin-top: 10px;
}